body,html {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  letter-spacing: 2px;
  }
.nav{

  background-color:#155e75;
  padding: 1rem;
  display:flex;
  place-content:space-evenly;
  place-items:center;
  }
  
  
  .sm-name{
  padding: 0 5px;
  color: #fff;
  cursor: none;
  }
  .nav img{
  /* margin-right:auto; */
  padding:0 1rem;
  cursor: pointer;
  }
  
  .nav input {
    width: 100%;
    height: 38px;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 15px;
    margin: auto;
    color: #111;
    letter-spacing: 1px;
  }
  
  .search-results-container {
    background-color: #fff;
    z-index: 999;
    position: absolute;
    width: 100%;
  }
  
  .search-results-container a {
 
    text-decoration: none;
    font-weight: bolder;
  }
  
  .search-results-container p {
    font-size: 16px;
    padding: 0 1rem;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .doctorcard {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0.5rem 0;
    background-color: #f9f9f9;
  }
  
  .doctorcard-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid 4px #fff;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .doctorcard-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .doctorcard-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .doctorcard-role {
    font-size: 16px;
    color: #666;
  }
  


  
  
  
  @media(max-width:768px){
  .search-results-container{
    transform: translateY(-10px);
  }
  
  
  
  
    .search-results-container p{
      font-size: 13px;
    }
    }
  
  
  .navlinks{
  display: flex;
  place-items: center;
  }
  
  .navlinks button{
  border: 0;
  border-radius: 20px;
  background-color: #0d6efd;
  text-transform: capitalize;
  padding: 3px 4px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  margin: auto;
  transform: translateX(10px);
  }
  
  .navlinks a{
  padding: 0 0px 0 10px;
  color:#fff;
  text-decoration:none;
  }
  
  @media(max-width:1290px){
  .nav{
  flex-wrap: wrap;
  padding: 0 1rem;
  }
  
  .navlinks{
  margin-bottom: 1rem;
  }
  
    
  .nav img{      
  margin: auto;
  padding: 1rem 0;
  }
       
  .navlinks button{
  margin-left: 3px;
  }
      
      
  .navlinks a{
  padding: 10px;
  margin: auto;
  font-size: 11px;
  cursor: none;
  }
  }
  
  @media(max-width:840px){
  .navlinks{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
  
  .sm-navlinks12{
    display: flex;
  }
      
  .sm-name{
  border: none;
  }
  }
  
  @media(max-width:768px){
  .sm-navlink{
  display: flex;
  }
  }
/* Navbar stops here */
/* Docotor profile page starts here */
/* Container for the entire profile page */
.DoctorProfileContainer {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 80rem;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Background and text styling for the profile image section */
.profileImgBackground {
  background:  linear-gradient(#3b40dd, #3199d1);
  background-size: cover;
  height: 100px; /* Adjust as needed */
  display: flex;

  justify-content: center;
  color: #ffffff;
  text-align: center;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin: 10px 0 0 0px;
}

/* Doctor's name styling */
.doctorName {
  margin: 0;
  border-right: solid 5px #fff;
  padding-right: 10px;
  display: flex;
  font-weight: 300;
  align-items: center;
}

/* Doctor's role styling */
.doctorRole {
  margin: 8px 0 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 300;
}

/* Circular profile image styling */
.doctorImage {
  position: absolute;
  left: 53%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 140px; /* Adjust size as needed */
  height: 140px; /* Adjust size as needed */
  border: 4px solid #ffffff; /* Optional: border to highlight image */
  object-fit: cover;
  z-index: 1;
  top: 80px;
}

/* Content styling for doctor's information */
.doctorContent {
  padding: 80px 20px 20px; /* Added top padding for image overlap */
  font-size: 1rem;
  font-weight: 500;
}

/* Additional details section styling */
.doctorDetails {
  margin-top: 20px;
}

/* Footer section for action buttons */
.doctorFooter {
  margin-top: 20px;
  text-align: center;
}

/* Button styling for actions */
.bookAppointmentButton,
.viewReviewsButton {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bookAppointmentButton {
  background-color: #4CAF50;
  color: white;
}

.viewReviewsButton {
  background-color: #2196F3;
  color: white;
}

@media(max-width:500px){
  .profileImgBackground{
    font-size: 12px;
  }
  .doctorImage{
    width: 100px;
        height: 100px;
        left: 57%;
  }
}

.backbtn {
  padding: 5px 10px;
  font-size: 18px;
  color: #fff;
  background-color: #155e75;
  border: none;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: pointer;
  background-size: 200% auto;
  margin-left: 1rem;
  flex-shrink: 0;
}


/* Docotor profile page stops here */

/* pysician page starts here */
.grid-container {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: .5em;
  gap: .5em;
  padding: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  max-width: 30rem;
  margin: 0 0 1rem;
  padding: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.card-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.authflex {
  display: flex;
  place-items: center;
  justify-content: space-between;
}

.card-content {
  line-height: 2;
}

.hero-btn {
  display: inline-block;
  padding: 12px 24px;
  color: #fff;
  background-color: #155e75;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-size: 200% auto;
  transition: .5s;
  margin: 1rem 0;
  text-decoration: none;
  flex-shrink: 0;
}
/* pysician page stops here */
  /* footer starts here */

  footer {
    padding: 3px;
    background: #155e75;
    text-transform: capitalize;
    text-align: center;
}

.flex-footer {
  display: flex;
  place-content: center;
  border-bottom: 1px solid #fff;
}

.footer-tablebox {
  width: 100%;
  border-right: 1px solid #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer-headline {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 5px 0;
  border-bottom: 1px solid #fff;
}

.footer-navlink {
  margin: auto;
  padding: 0;
}

.footer-navlink li {
  list-style-type: none;
}

.footer-navlink a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 2.5;
  cursor: pointer;
}

@media (max-width: 768px) {
  .flex-footer {
      display: flex;
      place-content: center;
      flex-direction: column;
  }
  .footer-tablebox {
    border-right: none;
    border-left: none !important;
}
}

